@font-face {  
    src: url(Good Times.ttf) format("truetype");
}

body {
  background-color: #333333;
  font-family: Good Times;
  color: #cccccc;
  text-align: center;
}

table {
	text-align: left; 
	width: 60%; 
	height: 131px; 
	margin-left: auto; 
	margin-right: auto;
}

button {
  transition-duration: 0.4s;
  background-color: #078f00; /* Green */
  border-radius: 4px;
  padding: 16px;
  
  border: none;
  text-align: center;
  margin: 10px 2px;
  color: #cccccc;
  font-family: Good Times;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #067800; /* Green */
}

.Status_Left {
	font-family: Arial,Helvetica,sans-serif;
	bottom: 3%;
	left: 5%;
	text-align: left;
	position: fixed;
	width: 60%;
}
.Status_Right {
	  position: fixed;
	  right: 5%;
	  text-align: left;
	  font-family: Arial,Helvetica,sans-serif;
	  bottom: 3%;
	  width: 30%;
}
.footer {
	  font-size: smaller;
	  color: #666666;
	  bottom: 0%;
	  width: 100%;
	  position: fixed;
	  text-align: center;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.jqplot-title {
	font-family: Good Times;
    color: #cccccc;
}

